{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <form method="post" class="mb-3">
    <h1 class="h4 mb-3 fw-normal">{{ title }}</h1>
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.agreeTerms) }}
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
      <div class="mt-3 text-center">
        <span class="text-muted">Already have an account?</span>
        <a href="{{path('app_login')}}">Sign in</a>
      </div>
    </form>
{% endblock %}
