{% extends 'base_security.html.twig' %}
{% block title %}{{ 'verify_request.title'|trans }}{% endblock %}
{% block body %}
<div id="element-fall">
  <form method="post" class="mb-3">
    <h1 class="h4 mb-3 fw-normal">{{ 'verify_request.title'|trans }}</h1>
    <div class="form-floating">
      <input
        type="email"
        name="email"
        placeholder="name@example.com"
        required
        class="form-control rounded mb-3"
        id="floatingEmail"
        value="{{ last_username }}"
      />
      <label for="floatingEmail">{{ 'verify_request.email'|trans }}</label>
    </div>
    <span class="text-muted">{{ 'verify_request.hint'|trans }}</span>
    <button class="btn btn-primary w-100 py-2 mt-3" type="submit">{{ 'verify_request.reset_password'|trans }}</button>
    <input type="hidden" name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
    >
  </form>
  <div class="text-center">
    <span class="text-muted">{{ 'verify_request.no_account'|trans }}</span>
    <a class="text-link" href="{{ path('app_register') }}">{{ 'verify_request.register'|trans }}</a>
    <br>
    <span class="text-muted">{{ 'verify_request.already_have_account'|trans }}</span>
    <a href="{{path('app_login')}}">{{ 'verify_request.sign_in'|trans }}</a>
  </div>
</div>
{% endblock %}