{% extends 'base_security.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  <form method="post" class="mb-3">
    <h1 class="h4 mb-3 fw-normal">{{ title }}</h1>
    <div class="form-floating">
      <input
        type="email"
        name="email"
        placeholder="name@example.com"
        required
        class="form-control rounded mb-3"
        id="floatingEmail"
        value="{{ last_username }}"
      />
      <label for="floatingEmail">Email address</label>
    </div>
    <span class="text-muted">You will receive an email soon.</span>
    <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Reset password</button>
    <input type="hidden" name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
    >
  </form>
  <div class="text-center">
    <span class="text-muted">No account yet?</span>
    <a class="text-link" href="{{ path('app_register') }}">Register</a>
    <br>
    <span class="text-muted">Already have an account?</span>
    <a href="{{path('app_login')}}">Sign in</a>
  </div>
{% endblock %}