{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<form method="post" class="mb-3">
    <h1 class="h4 mb-3 fw-normal">{{ title }}</h1>
    {{ form_row(resetPasswordForm.plainPassword) }}
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary w-100 py-2" type="submit">Reset password</button>
      </div>
      <div class="mt-3 text-center">
        <span class="text-muted">Remembered your password?</span>
        <a href="{{path('app_login')}}">Sign in</a>
      </div>
      {{ form_row(resetPasswordForm._token) }}
    {{ form_end(resetPasswordForm) }}
  </div>
</form>
{% endblock %}