{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} 
{% block nav %}
{% include "admin/admin_nav.html.twig" %}
{% endblock %}
{% block body %}
  <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
    <h1 class="h4 mb-3 fw-normal w-100 d-flex justify-content-start"><span>Uploaded Files</span></h1>
    <div class="table-responsive w-100">
      <table class="table table-sm table-striped align-middle border shadow">
        <thead>
          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Filename</th>
            <th scope="col">Delete</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>  
          {% for file in files %}
          <tr>
              <td><img src="{{ file.url }}" alt="{{ file.key }}" class="img-thumbnail img-fluid m-2" style="max-height: 60px;"></td>
              <td>{{ file.key }}</td>
              <td>
                <a href="{{ path('app_admin_files_delete', { 'key': file.key }) }}" class="btn btn-danger">Delete</a>
              </td>
              <td>
                <a href="{{ path('app_admin_files_download', { 'key': file.key }) }}" class="btn btn-primary">Herunterladen</a>
              </td>
          </tr>
          {% else %}
          <tr>
              <td colspan="4">Keine Dateien gefunden.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mt-5"> 
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <button type="submit" class="btn btn-primary">Hochladen</button>
    {{ form_end(form) }}
    </div>

  </div>
{% endblock %}