<div class="form-check form-switch d-flex justify-content-center">
    <input class="form-check-input {{class}} border-secondary shadow" data-switch="{{type}}" data-id="{{id}}"  type="checkbox" role="switch" {{checked}} {{disabled}}>
</div>