{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} 
{% block body %}

<div class="container mt-5">
  <div class="row featurette">
    <div class="col-12 col-md-4 order-md-1 start-page-img-left">
      <h2 class="featurette-heading fw-normal lh-1 mb-3">Used languages</h2>
      <p class="lead text-body-secondary">Hover or click on the progressbar to start the animation again. The percentages shown here are synchronized with the github.</p>
    </div>
    <div class="col-12 col-md-8 order-md-2 start-page-text-right mb-5 mb-md-1">
      {% for key,value in languages %}
      <div class="progress-container mb-4" onmouseout="counter(document.querySelectorAll('.lang-{{loop.index}}, .progress-bar-{{loop.index}}'))" onmouseover="resetCounter(document.querySelectorAll('.lang-{{loop.index}}, .progress-bar-{{loop.index}}'))">
        <p class="lead mb-1">{{key}}</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="{{value}}" style="--completion-width: {{value}}%;">
          <div class="progress-bar {{key|lower}} progress-bar-{{loop.index}}" data-value="{{value}}"></div>
          <span class="progress-text ms-2 me-1 lang-{{loop.index}}" data-value="{{value}}"  onmouseout="counter(this)" onmouseover="resetCounter(this)"> %</span> 
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr class="featurette-divider shadow-lg d-none d-md-block my-4">
  <div class="row featurette">
    <div class="col-12 col-md-3 order-md-2 start-page-text-right">
      <h2 class="featurette-heading fw-normal lh-1 mb-3">Commits per day</h2>
      <p class="lead text-body-secondary">This graph shows the github commits per day since project start.</p>
    </div>
    <div class="col-12 col-md-9 order-md-1 start-page-img-left mb-5">
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts_bottom_body %}
{{ parent() }}
<script src="{{ asset('vendor/@chart/chart.js') }}"></script>
<script>
  /* globals Chart:false */

(() => {
  'use strict'

  // Graphs
  const ctx = document.getElementById('myChart')
  const commitDates = '{{commits.commitDates}}'.split(', ').map(date => date.trim());
  const commitPerDay = '{{commits.commitsPerDay}}'.split(",").map(Number);
  // eslint-disable-next-line no-unused-vars
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: commitDates,
      datasets: [{
        data: commitPerDay,
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          boxPadding: 3
        }
      }
    }
  })
})()

window.onload = function() {
    const elements = document.querySelectorAll(".progress-text");
    elements.forEach(element => {
        element.dispatchEvent(new Event('mouseout'));
    });
};

function counter(elements) {
  if (elements.length === 2) {
    elements[0].parentElement.parentElement.style.pointerEvents = 'none';
    elements.forEach(element => {
      if (element.classList.contains('progress-bar')) {
          setTimeout(() => {
            element.style.width = element.getAttribute('data-value') +'%';
            element.style.animation = 'none';
            element.style.animation = 'progressAnimation 2s';
          }, 2000);
        } else {
          setTimeout(() => {
            element.style = '--num: '+element.getAttribute('data-value')+';';
          }, 2000);
        }
    });
    setTimeout(() => {
        elements[0].parentElement.parentElement.style.pointerEvents = 'auto';
    }, 4000);
  } else {
    elements.onmouseover = function() {
    };
    elements.onmouseout = function() {
    };
    elements.style = '--num: '+elements.getAttribute('data-value')+';';
  }
}

function resetCounter(elements) {
  if (elements.length === 2) {
    elements.forEach(element => {
        element.parentElement.parentElement.style.pointerEvents = 'none';
        if (element.classList.contains('progress-bar')) {
          element.style.width = 0;
          element.style.animation = 'none';
          element.style.animation = 'progressAnimationReverse 2s';
        } else {
          element.style = '--num: 0;';
        }
        setTimeout(() => {
            element.dispatchEvent(new Event('mouseout'));
        }, 2000);
    });
  } else {
    elements.onmouseover = function() {
    };
    elements.onmouseout = function() {
    };
    elements.style = '--num: 0;';
  }
}

</script>
{% endblock %}