{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container mt-5">
<h1 class="h4 mb-3 fw-normal w-100 text-center">Edit</h1>
  <div class="row justify-content-center">
    <div class="col-11 col-sm-11 col-md-6 col-lg-4 col-xl-3 d-flex flex-column justify-content-center align-items-center bg-body-tertiary pt-5 shadow-lg rounded">
        <img id="profile-img" data-controller="img" {% if user.profileImg is not null %}src="{{user.profileImg.filePath}}" {% else
          %}src="{{ asset('images/default_profile.jpg') }}" {% endif %} class="rounded shadow zoom rounded-circle"
          width="150" height="150" alt="66f7f4a91f664.jpg">
        <div id="form-overlap">
          {{ form_start(form) }}
          <span id="add-profile-image-icon" class="material-symbols-outlined">add</span>
          {{ form_widget(form) }}
          {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}